* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

form{
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

img{
    width: 50px;
    align-self: center;
    margin: 0px 0px 50px 0px;
}

img + p {
    font: 700 2.5em/1em "Trebuchet MS";
    color: #2d3d62;
    align-self: center;
    margin: 0px 0px 10px 0px;
}

#description{
    color: #5f5f5f;
    align-self: center;
    margin: 5px 0px 30px 0px;
    font: 500 0.845em/1em "Trebuchet MS";
}

label{
    display: block;
    font: 500 0.8em/1em "Trebuchet MS";
    color: #15213E;
    margin: 10px 0px 5px 0px;
}

input[type="email"], input[type="password"] {
    max-width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 15px;
    margin: 0px 0px 15px 0px;
    background-color: #f2f3f6;
    border: 1px solid transparent;
    font: 500 0.8em/1em "Trebuchet MS";
}

input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    background-color: #e9f0fd;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #2e59bc;
    color: white;
    font: 500 1em/1em "Trebuchet MS";
    border: none;
    cursor: pointer;
    margin: 20px 0px;
}

button:hover{
    background-color: #3668dd;
}

hr{
    margin: 20px 0px;
    border: 1px solid #f2f3f6;
}

hr + p {
    font: 500 0.845em/1em "Trebuchet MS";
    color: #2d3d62;
    align-self: center;
    margin: 0px 0px 10px 0px;
}

a:link {
    color: #2e59bc;
    font: 500 1em/1em "Trebuchet MS";
}

a:hover{
    color: #3668dd;
}

a:visited{
    color: #1e3d86;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    text-align: right;
    font: 500 0.8em/1em "Trebuchet MS";
    padding-left: 5px;
}


