*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

/* --------------NAV---------------- */

nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10; 
}

.nav-menu-button{
    display: none;
}

.nav-menu-profile{
    display: none;
}

.nav-logo {
    width: 30%;
}

.nav-links {
    width: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
 
.nav-links.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100px; 
    background-color: white;
    text-align: left;
    padding: 10px 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav-links.show li{
    padding: 5px 60px;
}

.nav-links.show li a{
    display: block;
    text-transform: uppercase;
    color: gray;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 10px;
}

.nav-logo img {
    width: 150px;
    margin-left: 50px;
}

.nav-links li {
    list-style-type: none;
    padding: 10px;
    margin: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #2b2b2b;
    font-family: "Trebuchet MS";
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: 1px;
}

.nav-links li a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Trebuchet MS";
    font-size: 0.8em;
    font-weight: 800;
}

.nav-button {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#register-button {
    font: 700 0.845em/1em "Trebuchet MS";
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: black;
    color: white;
    padding: 0px 30px;
    cursor: pointer;
    justify-content: flex-end;
    align-content: flex-end;
}

#profile-name{
    font: 500 0.845rem/1em "Trebuchet MS";
}

#logout{
    font: 700 0.845em/1em "Trebuchet MS";
    height: 35px;
    border-radius: 5px;
    border: 0;
    background-color: black;
    color: white;
    padding: 0px 30px;
    cursor: pointer;
    justify-content: flex-end;
    align-content: flex-end;
    width: 40%;
}

/*--------------ALTERNATIVES----------------*/

#profile-button {
    content: url(./graphics/svg/profile.svg);
    padding: 0px 5px 0px 30px;
    cursor: pointer;
    justify-content: flex-end;
    align-content: flex-end;
    background: none;
    border: none;
    display: none;
}

/*------------DISPLAY:NONE-------------*/

section {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    z-index: 999; /* Ensures it is above other elements */
    display: none; /* Initially hidden */
}

section.display-flex {
    display: flex; /* When added, makes the section visible */
}

.form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*------------HEADER-------------*/

header{
    width: 100%;
    padding-top: 100px; 
    transition: padding-top 0.3s ease-in-out;
    margin-bottom: 50px;
}

.header-container{
    background-color: inherit;
    width: 100%;
    display: flex;
    padding: 30px;
    gap: 30px;
    background-color: white;
}

.header-info{
    width: 100%;
    max-width: 900px;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.7s, box-shadow 0.5s;
    background-color: #f9f9f9;
}

.header-info:hover{
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2), -6px -6px 10px rgb(255, 255, 255);
    transform: translate(0px, -10px);
}

h3{
    font: 900 1.3em/1em "Trebuchet MS";
    text-align: center;
    color: #555;
    margin: 10px 0px 30px 0px;
}

.header-info p{
    font: 500 0.845em/1em "Trebuchet MS";
    margin: 30px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
}

span{
    float: right;
    color: #1a1a6a;
}

.header-program div{
    background-color: #15213E;
}

.header-info h4{
    font: 500 0.845em/1em "Trebuchet MS";
    text-align: center;
    margin: 10px 0px 10px 0px;
}

#header-program{
    padding: 30px;
}

.split{
    display: flex;
    justify-content: center;
    align-items: center;
}

.split table{
    width: 100%;
    height: 80%;
    /* border: 1px solid #e6e6e6; */
    border-collapse: collapse;
}

.split table thead{
    height: 30px;
    text-align: left;

}

.split table tbody{
    color: #1a1a6a;
    padding-bottom: 10px;
}

.split table th{
    font: 500 0.845em/1em "Trebuchet MS";
    padding: 10px;
}

.split table td{
    font: 500 0.845em/1em "Trebuchet MS";
    padding: 10px;
}   

.split table tr{
    border: 1px solid #e6e6e6;

}

.split + button{
    font: 700 0.845em/1em "Trebuchet MS";
    margin: auto;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 0;
    background-color: black;
    color: white;
    cursor: pointer;
    align-self: center;
    margin: 60px 0px 10px 0px;
    padding: 0px 10px;
}

#edit-informations{
    display: block;
    font: 700 0.845em/1em "Trebuchet MS";
    margin: auto;
    width: 100%;
    max-width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    background-color: black;
    color: white;
    cursor: pointer;
}

/*--------------FOOTER----------------*/

footer{
    width: 100%;
    background-color: #15213E;
    padding: 20px 0;
    margin: 0;
}

.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-links{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #F2F2F2;
    margin: 30px;
    padding: 0;
}

.footer-links li{
    width: 80px;
    flex: 1 1 0;
    list-style-type: none;
    padding: 0px 10px 50px 0px;
    margin: 0;
}

.footer-links li a{
    text-decoration: none;
    flex: 1 1 0;
    color: white;
    font-family: "Trebuchet MS";
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.footer-links li a:hover{
    text-decoration: none;
    color: rgb(212, 212, 212);
    font-family: "Trebuchet MS";
    font-size: 0.8em;
    font-weight: 800;
}

.footer-socials{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.footer-socials img{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.footer-copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.footer-copyright p{
    color: white;
    font-family: "Trebuchet MS";
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 40px 0px 10px 0px;
}


/*--------------MEDIA QUERIES----------------*/

@media only screen and (max-width: 980px) {
    /*-----NAV-----*/
    .nav-menu-button{
        width: 10%;
        border: 0;
        background-color: white;
        margin-left: 10px;
        display: block;
    }

    .nav-menu-button:hover{
        cursor: pointer;
    }

    /* .nav-menu-profile{
        width: 10%;
        border: 0;
        background-color: white;
        display: block;
        margin-right: 10px;
        cursor: pointer;
    } */

    .nav-links {
        display: none;
    }

    .nav-button{
        margin-right: 10px;
    }

    .nav-logo {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-logo img {
        padding: 0;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 0;
    }

    /*-----FOOTER-----*/
    .footer-links{
        flex-direction: column;
    }

    .footer-links li{
        width: 100%;
        padding: 0px 5px 20px 5px;
    }

    .footer-links li a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/*------------MEDIA-------------*/

@media screen and (max-width: 1100px) {
    .header-container{
        flex-direction: column;
    }

    .header-info{
        width: 100%;
        max-width: 1100px;
    }
}

