header{
    width: 100%
}

h2 {
    font: 600 2em/1.2em "Trebuchet MS";
    text-align: center;
    margin: 40px 0px 10px 0px;
    color:#545353;
}

p {
    font: 500 0.845em/1.5em "Trebuchet MS";
    text-align: center;
    margin: 0 auto 20px;
    max-width: 800px;
    line-height: 1.6em;
    color: #555; 
}

.header-program{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px;
}
.header-program > div {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1), -6px -6px 10px rgb(255, 255, 255);
}

.header-program > div:hover {
    background-color:  rgb(190, 221, 250);
}

.header-program h4 {
    text-align: center;
    width: 100%;
    color: white;
    background-color: #1f4287; /* Highlight color */
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.exercise-box {
    flex: 1;
    width: 100%;
    max-height: 150px; /* Adjust the height as needed */
    overflow-y: auto;
    margin-top: 10px;
    padding-right: 10px; /* Add padding to avoid content hiding behind the scrollbar */
}

select{
    margin: auto;
    display: block;
}

input[type="button"] {
    border-radius: 5px;
    background-color: #2e59bc;
    color: white;
    border: 0;
    cursor: pointer;
    font: 500 0.845em/1em "Trebuchet MS";
    height: 40px;
    margin: 20px 0px;
    align-self: center; 
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

table th{
    padding: 20px;
    width: 100%;
    font: 600 0.845em/1em "Trebuchet MS";
}

table tr{
    border-bottom: 1px solid #8b8a8a;
    font: 500 0.9em/1em "Trebuchet MS";
}

table td{
    padding: 10px;
    width: 50%;
    font: 500 0.845em/1em "Trebuchet MS";
    padding: 15px 20px;
}

table td:nth-child(2){
    text-align: right;
}


button{
    margin:auto;
    display: block;
}