*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS";
    background-color: #ffffff;
}

/*--------HEADER-----------*/

header{
    width: 100%
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 5px 50px;
    color: rgb(45, 45, 45);
    border-top: 1px solid #dadada;
}

#header-welcome-message{
    font: 700 2.5em/1em "Trebuchet MS";
    color: #232323;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.header-container p{
    font: 500 0.845em/1.5em "Trebuchet MS";
    padding: 0;
    margin: 5px 0;
}

/*--------SECTION-----------*/

section{
    width: 100%;
    margin: 0;
    padding: 0;
}

.section-container{
    display: flex;
    padding: 30px 50px;
    color: rgb(45, 45, 45);
    border-bottom: 1px solid #dadada;
}

.section-select-container{
    width: 50%;
    display: flex;
}

.section-select{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section-select label{
    font: 500 0.845em/1em "Trebuchet MS";
    width: 100%;
}

.section-select select{
    border-radius: 5px;
    outline: none;
    border: 0;
    font: 500 0.845em/1em "Trebuchet MS";
    color: #182b59;
    padding: 10px;
    appearance: none; 
    background: url('../graphics/buttons/arrow-down.png') no-repeat right 10px center;
    background-color: #f5f5f5;
    border-radius: 5px;
    background-size: 20px;
    height: 35px;
    margin-top: 10px;
    width: 100%;
    max-width: 320px;
}

.section-save{
    display: flex;
    width: 50%;
    align-items: flex-end;
    gap: 10px;
    margin-top: 30px;
}

#save-program, 
#change-program{
    font: 500 0.845em/1em "Trebuchet MS";
    height: 35px;
    border-radius: 5px;
    border: 0;
    background-color: #000000;
    color: white;
    padding: 0px 30px;
    cursor: pointer;
    justify-content: flex-end;
    align-content: flex-end;
    margin: 0 5px;
    width: 50%;
    max-width: 320px;
}

#save-program:hover, 
#change-program:hover{
    background-color: #292929;
}

/*--------MAIN-----------*/

main{
    padding: 20px 50px;
    width: 100%;
}

.main-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px;
    flex: 1 1 0;
    margin: 40px 0;
}

.main-days{
    max-width: 320px;
    height: 400px;
    width: 100%;
    align-items: center;
}

.main-days .day{
    display: flex;
    justify-content: space-between;
}

.main-days h4{
    font: 600 1em/1.2em "Trebuchet MS";
    letter-spacing: 0.05em;
    margin: 0 7px 0 0;
    color:#797979;
    text-transform: uppercase;
    display: inline-block;
}

.main-days .split{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    height: 95%;
}

.delete {
    background: url('../graphics/svg/remove.svg') no-repeat center center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 5px; /* Space between .workouts-div and .delete */
    display: none; /* Initially hidden */
}

.split-name {
    position: relative;
    cursor: pointer;
}

.split-name::after {
    content: url('../graphics/svg/edit-white.svg');
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.split-name:hover::after {
    content: url('../graphics/svg/edit-gray.svg');
}

.workouts-div input[readonly] {
    border: 1px solid transparent;
}

.workouts-div input:not([readonly]) {
    border: 1px solid #cccccc;
}

.split h5{
    font: 500 0.845em/1em "Trebuchet MS";
    margin: 0;
    height: 10%;
    padding: 8px;
    background-color: #11182a;
    color: white;
    text-align: center;
}

.split .workouts{
    height: 80%;
    overflow-y: auto;
}

.split .add{
    height: 10%;
    border-radius: 10px;
    width: calc(100% - 17px);
    margin: 5px auto;
    background: url('../graphics/svg/add.svg') no-repeat center center;
    border: 1px solid #11182a;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.split .add:hover{
    background: url('../graphics/svg/add-white.svg') no-repeat center center;
    cursor: pointer;
    background-color: #11182a;
}

/*---------ADD DIVS DESIGN----------*/


.workouts-div {
    display: none;
    height: 50px;
    width: calc(100% - 17px);
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
}

.workouts-div .delete {
    background: url('../graphics/svg/remove.svg') no-repeat center center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 20%;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    display: none; /* Initially hidden */
    align-items: center;
}

.workouts-div.active .delete {
    display: block; /* Show when active */
}

.workouts-div.active {
    display: flex; /* Display both workout div and delete button inline */
}

.workout-name {
    width: 50%;
    outline: none;
    border: 1px solid #ffffff;
    font: 500 0.845em/1em "Trebuchet MS";
    height: 100%;
    padding: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.workouts-div .number {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.workouts-div .workout-reps,
.workouts-div .workout-sets {
    outline: none;
    border: 1px solid #ffffff;
    font: 500 0.845em/1em "Trebuchet MS";
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
    height: 50%;
    text-align: right;
    padding-right: 10px;
    border-radius: 10px;
}

/*---------ADD WORKOUT FORM----------*/

.add-workout {
    display: none; /* Initially hidden */
    position: absolute; /* Position it absolutely */
    z-index: 1000; /* Make sure it appears above other elements */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px; /* Adjust width */
}

.add-workout > label {
    font: 500 0.8em/1em "Trebuchet MS";
    margin: 0;
    padding: 10px;
    color: #11182a;
    text-align: left;
    width: 100%;
}

.add-workout > input[type="text"],
.add-workout > input[type="number"] {
    border-radius: 5px;
    outline: none;
    border: 1px solid #efefef;
    font: 500 0.845em/1em "Trebuchet MS";
    height: 30px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 5px;
}

.add-workout > button{
    border-radius: 5px;
    background-color: #2e59bc;
    color: white;
    border: 0;
    cursor: pointer;
    font: 500 0.845em/1em "Trebuchet MS";
    height: 30px;
    margin: 20px 0px;
    align-self: center;
    width: calc(100% - 20px);
}

/*--------------AUTOCOMPLETE---------------*/

.autocomplete-suggestions {
    position: absolute;
    top: 85px; /* Adjust based on your input field position */
    width: calc(100% - 62px);
    margin: auto;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    z-index: 999;
    display: none; /* Initially hidden */
    font: 500 0.845em/1em "Trebuchet MS";
}

.autocomplete-suggestions div {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-suggestions div:hover {
    background-color: #f1f1f1;
}


/*--------------MEDIA---------------*/

@media screen and (max-width: 1400px){
    .main-days{
        margin: auto;
    }
    
}

@media screen and (max-width: 980px){
    .header-container{
        flex-direction: column;
        align-items: left;
        justify-content: left;
    }

    .header-container .header-sections{
        width: 100%;
        padding-left: 0;
    }

    .section-container{
        flex-direction: column;;
    }

    .section-select-container{
        width: 100%;
    }

    .section-save{
        width: 100%;
    }
    
}
